@import '../../shared/variables.scss';

.app-month-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    user-select: none;

    @include desktop {
        margin-bottom: 0;
        min-width: 192px;
    }

    label {
        font-size: 12px;
        margin-bottom: 4px;

        @include desktop {
            font-size: 14px;
        }
    }

    &__input {
        padding: 0 12px;
        border: 1px solid $color-border;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            width: 24px;
            height: 24px;
            display: grid;
            place-items: center;
            border: none;
            background: none;
            margin: 16px 0;
            cursor: pointer;

            &:last-of-type {
                transform: rotate(180deg);
            }
        }
    }

    &__date-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-size: 14px;
            line-height: 21px;

            @include desktop {
                font-size: 16px;
                line-height: 24px;
            }
        }

        span:first-of-type {
            @include font-worksans-semibold
        }

        span:last-of-type {
            color: $color-gray-400;
        }
    }
}