@import './shared/variables.scss';

.header {
    height: 56px;
    background: $color-white;
    padding: 16px;

    img {
        height: 100%;
    }

    @include desktop {
        height: 80px;
        padding: 24px 56px;
    }
}

.call-to-action {
    padding: 32px 16px 24px;

    @include desktop {
        padding: 48px 0 24px;
    }

    h2 {
        @include font-worksans-normal;
        font-size: 18px;
        color: $color-primary;
        text-align: center;

        strong {
            @include font-worksans-semibold;
        }

        @include desktop {
            font-size: 20px;
        }
    }
}

.container {
    display: block;
    width: 100%;

    @include desktop {
        max-width: $mobile-width;
        margin: 0 auto;
    }
}
